body {
  font-family: 'Courier New', Courier, monospace;
  margin: 200px;
  font-size: 35px; 
}

p {
  background-color: aqua;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
}
